<div class="container">


  <table class="AllCreaturesTable">
  <tr>
    <th>Creature</th>
    <th>Description</th>
  </tr>
<% @creatures.each do |c| %>
  <tr>
    <td><%= link_to c.name, c %></td>
    <td><%= c.description %></td>
    <td><%= link_to "Update", edit_creature_path(c), class: "btn" %></td>
    <td><%= link_to "Delete", creature_path(c), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
<% end %>
</table>
</div>




