<div class="container">

  <h1>This is where I show details about a creature</h1>

  <table class="oneCreatureTable">
  <tr>
    <th>Creature</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @creature.name %></td>
    <td><%= @creature.description %></td>
  </tr>
</table>

</div>









