<div class="container">


  <table class="AllCreaturesTable">
  <tr>
    <th>Tag</th>
  </tr>
<% @tags.each do |t| %>
  <tr>
    <td><%= link_to t.name, t %></td>
    <td><%= link_to "Delete", tag_path(t), class: "btn", method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
<% end %>
</table>
</div>
